/*-- scss:defaults --*/
$warm-red: #990100;
$sidebar-hl: $warm-red;
$link-color: $warm-red;
$code-color: $warm-red;
$code-bg: #ffffff;

/*-- scss:rules --*/
.sidebar-item-container {
    font-family: "PT Sans";
}